.wrapper {
    padding: 4rem 6rem;
    text-align: left;
    .backButton {
        background-color: #d6963f;
        text-align: left;
        border-radius: 50px;
        transition: transform 0.3s ease;
        margin-left: -80px;
        &:hover {
            transform: scale(1.1);
            background-color: #d6963f;
        }
    }
    .loaderWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10rem;
    }
    .details {
        color: white;
        .newsTitle {
            font-size: 2.5rem;
        }
        .detailBox {
            background-color: #001111;
            border-radius: 20px;
            padding: 1rem 2rem;
            .headerDiv {
                display: flex;
                justify-content: space-between;
            }
            .comments {
                .noComments {
                    text-align: center;
                    width: 100%;
                    padding: 2rem 0;
                }
            }
        }
    }
}
